@import './colors';

/*---------- Buttons ----------*/

@mixin button-default($gradientColor) {
	background: map-get($gradient, $gradientColor);
	color: $white;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}

@mixin button-bordered($gradientColor) {
	background: $white;
	border-color: map-get($palette, $gradientColor);
	color: map-get($palette, $gradientColor);
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}
