@import './decorations';
@import './fonts.tns';

@mixin button-default-tns($gradientColor) {
	$border-radius: 21;

	@extend %label;
	@include button-default($gradientColor);

	border-radius: $border-radius;
	padding: $border-radius;

	&:active {
		opacity: 0.5;
	}
}

@mixin button-bordered-tns($gradientColor) {
	$border-radius: 21;
	$border-width: 2;

	@extend %label;
	@include button-bordered($gradientColor);

	border-radius: $border-radius;
	border-width: $border-width;
	padding: $border-radius;

	&:active {
		opacity: 0.5;
	}
}
