@import './colors';
@import './mixins.tns';

$quicksand-font: Quicksand, sans-serif;
$montserrat-font: Montserrat, sans-serif;

%big-title {
	@include get-rem-in-dp(font-size, 3.5);
	@include get-rem-in-dp(line-height, 4.3);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 400;
}

// Section heading
%section-title {
	@include get-rem-in-dp(font-size, 2.7);
	@include get-rem-in-dp(line-height, 3.3);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 400;
}

// Sub-section or widget title
%widget-title {
	@include get-rem-in-dp(font-size, 2);
	@include get-rem-in-dp(line-height, 2.5);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 700;
}

// Item title inside widgets
%item-title {
	@include get-rem-in-dp(font-size, 1.6);
	@include get-rem-in-dp(line-height, 2);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 700;
}

// body text which is used for most of the design, like paragraphs, lists, etc.
%body {
	@include get-rem-in-dp(font-size, 1.2);
	@include get-rem-in-dp(line-height, 2);
	color: map-get($font, 'secondary');
	font-family: $montserrat-font;
	font-style: normal;
	font-weight: 300;
}

// label or CTA text
%label {
	@include get-rem-in-dp(font-size, 1);
	@include get-rem-in-dp(line-height, 1.25);
	color: map-get($font, 'secondary');
	font-family: $montserrat-font;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}
