@import './colors';
@import './decorations';

$quicksand-font: Quicksand, sans-serif;
$montserrat-font: Montserrat, sans-serif;

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Biggest title
%big-title {
	@include getRemInPx(font-size, 3.5);
	@include getRemInPx(line-height, 4.3);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 400;
}

// Section heading
%section-title {
	@include getRemInPx(font-size, 2.7);
	@include getRemInPx(line-height, 3.3);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 400;
}

// Sub-section or widget title
%widget-title {
	@include getRemInPx(font-size, 2);
	@include getRemInPx(line-height, 2.5);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 700;
}

// Item title inside widgets
%item-title {
	@include getRemInPx(font-size, 1.6);
	@include getRemInPx(line-height, 2);
	color: map-get($font, 'primary');
	font-family: $quicksand-font;
	font-style: normal;
	font-weight: 700;
}

// body text which is used for most of the design, like paragraphs, lists, etc.
%body {
	@include getRemInPx(font-size, 1.2);
	@include getRemInPx(line-height, 2);
	color: map-get($font, 'secondary');
	font-family: $montserrat-font;
	font-style: normal;
	font-weight: 300;
}

// label or CTA text
%label {
	@include getRemInPx(font-size, 1);
	@include getRemInPx(line-height, 1.25);
	color: map-get($font, 'secondary');
	font-family: $montserrat-font;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}
