@import '../../../scss/vars/colors';

#slide1 {
	background: map-get($gradient, 'purple');
	vertical-align: center;
}

#slide2 {
	background: map-get($gradient, 'green');
	vertical-align: center;
}

#slide3 {
	background: map-get($gradient, 'purple');
	vertical-align: center;
}

#slide4 {
	background: map-get($gradient, 'green');
	vertical-align: center;
}
